<style>
    .bg-home {
        background-image: url("assets/images/bgHome.jpeg");
    }
</style>

<div class="login-page bg-home" [@routerTransition]>
    <app-alert></app-alert>
    <!--<div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Finances Easy</h1>
            <div class="form-content">
                <div class="form-group">
                    <input type="text" [formControl]="username" class="form-control input-underline input-lg"
                           id="username" placeholder="{{ 'Email' | translate }}" (keyup.enter)="login()"
                           autofocus>
                </div>
                <div class="form-group">
                    <input type="password" [formControl]="password" class="form-control input-underline input-lg"
                           id="password" placeholder="{{ 'Password' | translate }}" (keyup.enter)="login()">
                </div>
            </div>
            <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'Log in' | translate }}</a>
            <p class="mt-5 text-sm">Login provided by Okta</p>
        </div>
    </div>-->
</div>
