<app-edit-expense *ngIf="editModal" [currentId]="currentId" (closed)="resetData()">
</app-edit-expense>
<app-confirm msg="Confirm this exclusion?" [visible]="showConfirm" (result)="confirmDelete($event)"></app-confirm>
<div class="row mb-1">
	<div class="col-sm-6">
		<button class="btn btn-primary" (click)="openModal()">
			{{ 'Create' | translate }}
		</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<a (click)="showFilters = !showFilters" style="cursor: pointer">
			<i class="fas fa-plus" *ngIf="!showFilters"></i>
			<i class="fa fa-minus" *ngIf="showFilters"></i>
			<span class="ml-2">{{ 'Filters' | translate }}</span>
		</a>
	</div>
</div>
<div class="collapse" [ngClass]="{'show': showFilters}">
	<form [formGroup]="searchForm">
		<div class="row mb-1">
			<div class="col-sm-4">
				<label for="name">{{ 'Name' | translate }}</label>
				<input id="name" name="name" type="text" class="form-control" formControlName="name">
			</div>
			<div class="col-sm-4">
				<label for="category">{{ 'Category' | translate }}</label>
				<select id="category" name="category" class="form-control" formControlName="category">
					<option value="undefined">{{ 'Select a category' | translate }}</option>
					<option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
				</select>
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-sm-4">
				<label for="startDate">{{ 'Start date' | translate }}</label>
				<div class="input-group">
					<input id="startDate" name="dp" class="form-control" formControlName="startDate" ngbDatepicker
						#startDate="ngbDatepicker">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button">
							<i class="far fa-calendar-alt"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<label for="endDate">{{ 'End date' | translate }}</label>
				<div class="input-group">
					<input id="endDate" name="dp" class="form-control" formControlName="endDate" ngbDatepicker
						#endDate="ngbDatepicker">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button">
							<i class="far fa-calendar-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-sm-12">
				<button class="btn btn-primary float-right" (click)="search()">
					{{ 'Search' | translate }}
				</button>
			</div>
		</div>
	</form>
</div>
<div class="card mb-3">
	<div class="card-header">{{ 'Expenses' | translate }}</div>
	<div class="card-body table-responsive">
		<table class="table table-hover table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">{{'Name' | translate }}</th>
					<th scope="col">{{'Value' | translate }}</th>
					<th scope="col">{{'Category' | translate }}</th>
					<th scope="col">{{'Created on' | translate }}</th>
					<th scope="col">{{'Created by' | translate }}</th>
					<th scope="col">{{'Actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let exp of (state | async)">
					<th scope="row">{{ exp.name }}</th>
					<td>{{ exp.value }}</td>
					<td>{{ exp.category.name }}</td>
					<td>
						{{ exp.expireAt | dateLocale:DATE_FORMAT }}
					</td>
					<td>{{ exp.user.name }}</td>
					<td>
						<button class="btn btn-info mr-2" (click)="editExpense(exp.id)"><i
								class="fas fa-pencil-alt"></i></button>
						<button class="btn btn-danger" (click)="deleteExpense(exp.id)"><i
								class="fas fa-trash-alt"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="mx-auto stick-bottom">
				<button class="btn btn-success" (click)="showMore()"
					[disabled]="(state | async).page ? (state | async).page.last : false">
					{{ 'Show More' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
