<app-edit-expense *ngIf="editModal" [categories]="categories" [currentId]="currentId"
 (closed)="closedEditModal()" [state]="state"></app-edit-expense>
<app-confirm msg="Confirm this exclusion?" [visible]="showConfirm" (result)="confirmDelete($event)"></app-confirm>
<div class="row mb-3">
	<div class="col-xl-12">
		<button class="btn btn-primary" (click)="openModal()">
			{{ 'Create' | translate }}
		</button>
	</div>
</div>
<div class="card mb-3">
	<div class="card-header">{{ 'Expenses' | translate }}</div>
	<div class="card-body table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>{{'Name' | translate }}</th>
					<th>{{'Value' | translate }}</th>
					<th>{{'Category' | translate }}</th>
					<th>{{'Created on' | translate }}</th>
					<th>{{'Created by' | translate }}</th>
					<th>{{'Actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let exp of (state | async).expenses">
					<td>{{ exp.name }}</td>
					<td>{{ exp.value }}</td>
					<td>{{ exp.category.name }}</td>
					<td>{{ exp.expireAt | date:'short' }}</td>
					<td>{{ exp.user.name }}</td>
					<td>
						<button class="btn btn-info mr-2" (click)="editExpense(exp.id)"><i class="fas fa-pencil-alt"></i></button>
						<button class="btn btn-danger" (click)="deleteExpense(exp.id)"><i class="fas fa-trash-alt"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="mx-auto stick-bottom">
				<button class="btn btn-success" (click)="showMore()" [disabled]="pageOptions ? pageOptions.last : false">
					{{ 'Show More' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
