<div class="modal animated" id="editIncome" [ngClass]="{'show fadeIn': editMode, 'fadeOut': !editMode}" [ngStyle]="{'display': modalStyle}">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ 'Income' | translate }}</h5>
				<button type="button" class="close" aria-label="Close" (click)="closeModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #frm="ngForm">
					<div class="form-group mb-2">
						<label for="name">{{ 'Name' | translate }}</label>
						<input id="name" name="name" type="text" class="form-control" [(ngModel)]="income.name">
					</div>
					<div class="form-group mb-5">
						<label for="value">{{ 'Value' | translate }}</label>
						<input id="value" name="value" type="number" class="form-control" placeholder="€" [(ngModel)]="income.value">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="closeModal()">{{ 'Close' | translate }}</button>
				<button type="button" class="btn btn-primary" [disabled]="!frm.valid" (click)="saveChanges()">{{ 'Save changes' |
					translate }}</button>
			</div>
		</div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-xl-12">
		<button class="btn btn-primary" (click)="openModal()">{{'Create' | translate}}</button>
	</div>
</div>
<div class="card mb-3">
	<div class="card-header">Striped Rows</div>
	<div class="card-body table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Descrição</th>
					<th>Data</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>/index.html</td>
					<td>1265</td>
					<td>32.3%</td>
				</tr>
				<tr>
					<td>/about.html</td>
					<td>261</td>
					<td>33.3%</td>
				</tr>
				<tr>
					<td>/sales.html</td>
					<td>665</td>
					<td>21.3%</td>
				</tr>
				<tr>
					<td>/blog.html</td>
					<td>9516</td>
					<td>89.3%</td>
				</tr>
				<tr>
					<td>/404.html</td>
					<td>23</td>
					<td>34.3%</td>
				</tr>
				<tr>
					<td>/services.html</td>
					<td>421</td>
					<td>60.3%</td>
				</tr>
				<tr>
					<td>/blog/post.html</td>
					<td>1233</td>
					<td>93.2%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
