<app-edit-income *ngIf="editModal" [currentId]="currentId" (closed)="resetData()">
</app-edit-income>
<app-confirm msg="Confirm this exclusion?" [visible]="showConfirm" (result)="confirmDelete($event)"></app-confirm>
<div class="row mb-3">
	<div class="col-xl-12">
		<button class="btn btn-primary" (click)="openModal()">
			{{'Create' | translate }}
		</button>
	</div>
</div>
<div class="card mb-3">
	<div class="card-header">{{ 'Incomes' | translate }}</div>
	<div class="card-body table-responsive">
		<table class="table table-hover table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">{{'Name' | translate }}</th>
					<th scope="col">{{'Value' | translate }}</th>
					<th scope="col">{{'Created on' | translate }}</th>
					<th scope="col">{{'Created by' | translate }}</th>
					<th scope="col">{{'Actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let inc of (state | async).incomes">
					<th scope="row">{{ inc.name }}</th>
					<td>{{ inc.value }}</td>
					<td>{{ inc.date | dateLocale: DATE_FORMAT }}</td>
					<td>{{ inc.user.name }}</td>
					<td>
						<button class="btn btn-info mr-2" (click)="editIncome(inc.id)"><i
								class="fas fa-pencil-alt"></i></button>
						<button class="btn btn-danger" (click)="deleteIncome(inc.id)"><i
								class="fas fa-trash-alt"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="mx-auto stick-bottom">
				<button class="btn btn-success" (click)="showMore()"
					[disabled]="(state | async).page ? (state | async).page.last : false">
					{{ 'Show More' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
