<app-confirm msg="Confirm this exclusion?" [visible]="showConfirm" (result)="confirmDelete($event)"></app-confirm>
<app-edit-budget *ngIf="editModal" [categories]="(categoryState | async).categories" [currentId]="currentId"
	(closed)="closedEditModal()" [state]="budgetState" [breakpoints]="breakpoints"></app-edit-budget>
<div class="row mb-4">
	<div class="col-xl-12">
		<button class="btn btn-primary" (click)="openModal()">
			{{'Create' | translate}}
		</button>
	</div>
</div>
<div class="card mb-4">
	<div class="card-header">{{ 'Budget' | translate }}</div>
	<div class="card-body table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>{{'Start date' | translate }}</th>
					<th>{{'End date' | translate }}</th>
					<th>{{'Categories' | translate }}</th>
					<th>{{'Actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let bud of (budgetState | async).budgets">
					<td>{{ bud.startDate | dateLocale:DATE_FORMAT }}</td>
					<td>{{ bud.endDate | dateLocale:DATE_FORMAT }}</td>
					<td>TODO</td>
					<td>
						<button class="btn btn-info mr-2" (click)="editBudget(bud.id)"><i
								class="fas fa-pencil-alt"></i></button>
						<button class="btn btn-danger" (click)="deleteBudget(bud.id)"><i
								class="fas fa-trash-alt"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="mx-auto stick-bottom">
				<button class="btn btn-success" (click)="showMore()"
					[disabled]="(budgetState | async).page ? (budgetState | async).page.last : false">
					{{ 'Show More' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
