<div class="modal" id="editBudget" style="display:block;">
	<div class="modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ 'Budget' | translate }}</h5>
				<button type="button" class="close" aria-label="Close" (click)="closeModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="budgetForm" (ngSubmit)="saveChanges()">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group mb-5">
								<label for="startDate">{{ 'Start date' | translate }}</label>
								<div class="input-group">
									<input class="form-control" name="dp" formControlName="startDate" ngbDatepicker
										#startDate="ngbDatepicker" (keydown.enter)="saveChanges()"
										(keydown.esc)="closeModal()">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()"
											type="button">
											<i class="far fa-calendar-alt"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="form-group mb-5">
								<label for="endDate">{{ 'End date' | translate }}</label>
								<div class="input-group">
									<input class="form-control" name="dp" formControlName="endDate" ngbDatepicker
										#endDate="ngbDatepicker" (keydown.enter)="saveChanges()"
										(keydown.esc)="closeModal()">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()"
											type="button">
											<i class="far fa-calendar-alt"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="form-group mb-5">
								<label for="breakpoint">{{ 'Breakpoint' | translate }}</label>
								<select id="breakpoint" class="form-control" formControlName="breakpoint"
									(keydown.enter)="saveChanges()" (keydown.esc)="closeModal()">
									<option *ngFor="let br of breakpoints" [value]="br">
										{{ br == 1 ? 'Monthly' : 'Weekly' | translate }}
									</option>
								</select>
							</div>
						</div>
						<div class="col-sm-8" style="max-height:530px;overflow:auto;">
							<div class="container" formArrayName="categoryBudgetControls">
								<div class="row">
									<div class="col-sm-12">
										<h3>{{ 'Categories' | translate }}</h3>
									</div>
								</div>
								<div class="form-group mt-3"
									*ngFor="let catBud of categoryBudgetControls.controls; let i=index">
									<div [formGroupName]="i" class="row">
										<div class="col-sm-7">
											<select class="form-control" formControlName="category"
												(keydown.enter)="saveChanges()" (keydown.esc)="closeModal()">
												<option *ngFor="let cat of categories" [value]="cat.id">
													{{ cat.name }}
												</option>
											</select>
										</div>
										<div class="col-sm-3">
											<input type="number" class="form-control" placeholder="€"
												formControlName="value" (keydown.enter)="saveChanges()"
												(keydown.esc)="closeModal()">
										</div>
										<div class="col-sm-2" *ngIf="i == categoryBudgetControls.controls.length - 1">
											<a style="cursor: pointer" class="mr-2" (click)="addCategoryBudget()">
												<i class="fas fa-plus"></i>
											</a>
											<a style="cursor: pointer" (click)="removeCategoryBudget()"><i
													class="fas fa-minus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="closeModal()">
					{{'Close' | translate }}
				</button>
				<button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="budgetForm.invalid">
					{{ 'Save changes' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
