<app-confirm msg="Confirm this exclusion?" [visible]="showConfirm" (result)="confirmDelete($event)"></app-confirm>
<app-edit-category *ngIf="editModal" [state]="state" [currentId]="currentId" (closed)="resetData()">
</app-edit-category>
<div class="row mb-4">
	<div class="col-xl-12">
		<button class="btn btn-primary" (click)="openModal()">
			{{'Create' | translate}}
		</button>
	</div>
</div>
<div class="card mb-4">
	<div class="card-header">{{ 'Categories' | translate }}</div>
	<div class="card-body table-responsive">
		<table class="table table-hover table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">{{'Name' | translate }}</th>
					<th scope="col">{{'Actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let cat of (state | async).categories">
					<th scope="row">{{ cat.name }}</th>
					<td>
						<button class="btn btn-info mr-2" (click)="editCategory(cat.id)"><i
								class="fas fa-pencil-alt"></i></button>
						<button class="btn btn-danger" (click)="deleteCategory(cat.id)"><i
								class="fas fa-trash-alt"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="mx-auto stick-bottom">
				<button class="btn btn-success" (click)="showMore()"
					[disabled]="(state | async).page ? (state | async).page.last : false">
					{{ 'Show More' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
