<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
	<div class="list-group">
		<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<div class="row">
				<div class="col-sm-2"><i class="fa fa-fw fa-dashboard"></i></div>
				<div class="col-sm-10"><span>{{ 'Dashboard' | translate }}</span></div>
			</div>
		</a>
		<a [routerLink]="['/expense']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<div class="row">
				<div class="col-sm-2"><i class="fas fa-money-bill-wave"></i></div>
				<div class="col-sm-10"><span>{{ 'Expenses' | translate }}</span></div>
			</div>
		</a>
		<a [routerLink]="['/income']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<div class="row">
				<div class="col-sm-2"><i class="fas fa-euro-sign"></i></div>
				<div class="col-sm-10"><span>{{ 'Incomes' | translate }}</span></div>
			</div>
		</a>
		<a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<div class="row">
				<div class="col-sm-2"><i class="far fa-copyright"></i></div>
				<div class="col-sm-10"><span>{{ 'Categories' | translate }}</span></div>
			</div>
		</a>
		<a [routerLink]="['/budget']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<div class="row">
				<div class="col-sm-2"><i class="far fa-calendar-alt"></i></div>
				<div class="col-sm-10"><span>{{ 'Budget' | translate }}</span></div>
			</div>
		</a>
		<a [routerLink]="['/report']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<div class="row">
				<div class="col-sm-2"><i class="fas fa-columns"></i></div>
				<div class="col-sm-10"><span>{{ 'Report' | translate }}</span></div>
			</div>
		</a>

		<div class="header-fields">
			<a (click)="rltAndLtr()" class="list-group-item">
				<span><i class="fa fa-arrows-h"></i> RTL/LTR</span>
			</a>
			<div class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass('languages')">
					<span><i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b></span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'languages'">
					<ul class="submenu">
						<li>
							<a href="javascript:void(0)" (click)="changeLang('pt')">
								{{ 'Portuguese' | translate }}
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" (click)="changeLang('en')">
								{{ 'English' | translate }}
							</a>
						</li>
					</ul>
				</li>
			</div>
			<div class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass('profile')" *ngIf="(userLogged | async)">
					<span><i class="fa fa-user"></i>{{ (userLogged | async).name }}</span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'profile'">
					<ul class="submenu">
						<li>
							<a href="javascript:void(0)">
								<span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
							</a>
						</li>
						<li>
							<a [routerLink]="['/login']" (click)="onLoggedout()">
								<span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
		</div>
	</div>
	<div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
		<i class="fa fa-fw fa-angle-double-left"></i>
		<span>{{ 'Collapse Sidebar' | translate }}</span>
	</div>
</nav>
